<!DOCTYPE html>
<html>
<head>
    <title>CRUD App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Student CRUD App</h1>

    <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Enter Name" required>

        <input type="number" name="age" placeholder="Enter Age" required>

        <button type="submit">Add</button>
    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>

        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>
    <a href="/edit/{{ student.id }}">Edit</a>
    <a href="/delete/{{ student.id }}">Delete</a>
</td>
        </tr>
        {% endfor %}

    </table>

</div>

</body>
</html>